:root {
	/* Primary */
	--dark-cyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);

	/* Neutral */
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--cream);
}

.card {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	margin: 1.25rem;
	overflow: hidden;
	border-radius: 0.55rem;
	max-width: 25rem;
}

.card__pictures {
	display: flex;
}

.card__picture {
	max-width: 100%;
	height: auto;
}

.card__content {
	padding: 1.5rem;
}

.card__product-type {
	text-transform: uppercase;
	letter-spacing: 0.3125rem;
	font-size: 0.85rem;
	color: var(--dark-grayish-blue);
}

.card__header-text {
	font-family: 'Fraunces', sans-serif;
	font-weight: 700;
	padding: 1rem 0;
	font-size: 2rem;
	line-height: 1.9rem;
}

.card__product-description {
	color: var(--dark-grayish-blue);
	padding-bottom: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.85rem;
}

.card__prices {
	display: flex;
	align-items: center;
}

.card__current-price {
	font-family: 'Fraunces', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: var(--dark-cyan);
}

.card__earlier-price {
	margin-left: 1.5rem;
	text-decoration: line-through;
	color: var(--dark-grayish-blue);
	font-size: 0.85rem;
}

.card__purchase-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	margin-top: 1.5rem;
	width: 100%;
	padding: 1.1rem;
	border: none;
	border-radius: 0.55rem;
	background-color: var(--dark-cyan);
	color: var(--white);
	font-size: 0.9rem;
	cursor: pointer;
	transition: background-color 0.15s;
}

.card__purchase-button:hover {
	background-color: var(--very-dark-blue);
}

.card__purchase-button-image {
	margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
	.card {
		flex-direction: row;
		max-width: 40em;
	}

	.card__picture {
		width: 20rem;
	}

	.card__content {
		width: 20rem;
		padding: 2rem;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
}
