:root {
	--orange: hsl(25, 97%, 53%);
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(217, 12%, 63%);
	--medium-grey: hsl(216, 12%, 54%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Overpass', sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 100vh;
	background: var(--very-dark-blue);
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Home Card */
.card {
	background-color: var(--dark-blue);
	max-width: 400px;
	min-height: 350px;
	margin: 0 25px;
	padding: 25px;
	border-radius: 15px;
}

.card__image-container {
	background-color: hsl(213, 19%, 23%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-container__img {
	width: 12px;
	height: 12px;
}

.card__title {
	padding-top: 25px;
	padding-bottom: 15px;
	font-size: 1.5em;
}

.card_description {
	padding-bottom: 15px;
	color: var(--light-grey);
	line-height: 1.7em;
	font-size: 0.9em;
}

.card__buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buttons-container__button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: hsl(213, 19%, 23%);
	border: none;
	color: var(--medium-grey);
	cursor: pointer;
	transition: background-color 0.2s;
}

.buttons-container__button:hover {
	background-color: var(--orange);
	color: var(--white);
}

.clicked {
	background-color: var(--medium-grey);
	color: var(--white);
}

.card__button-submit {
	width: 100%;
	background-color: var(--orange);
	border: none;
	padding: 15px;
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 0.2em;
	border-radius: 30px;
	margin-top: 25px;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
}

.card__button-submit:hover {
	background-color: var(--white);
	color: var(--orange);
}

@media screen and (min-width: 450px) {
	.card__image-container {
		width: 50px;
		height: 50px;
	}

	.image-container__img {
		width: 15px;
		height: 15px;
	}

	.card__title {
		font-size: 1.7em;
	}

	.card_description {
		font-size: 1em;
	}

	.buttons-container__button {
		width: 50px;
		height: 50px;
	}
}

/* Thank you card */
.thank-you {
	background-color: var(--dark-blue);
	max-width: 400px;
	min-height: 350px;
	margin: 0 25px;
	padding: 25px;
	border-radius: 15px;
	text-align: center;
	display: none;
}

.thank-you__image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.thank-you__score {
	background-color: hsl(213, 19%, 23%);
	color: var(--orange);
	width: 200px;
	margin: 30px auto;
	padding: 10px 0;
	border-radius: 35px;
}

.thank-you__title {
	padding-bottom: 20px;
	font-size: 1.7em;
}

.thank-you__description {
	color: var(--light-grey);
	font-size: 1.1em;
}
